# Local site path
WORDPRESS_ROOT_DIR="/Users/tim/Local Sites/wordpress-org/app/public"

# Local site URL
WORDPRESS_URL=http://wordpress-org.local

# WordPress to Buffer specific variables.
WORDPRESS_TO_BUFFER_PRO_LICENSE_KEY=